<%- include partials/header %>

<main>
  <section class="hero">
    <div class="overlay-empty"></div>
     
    <div class="container">
      <div class="hero-content">
        <div class="col-1">
          <div class="row row-1">
            <h2>Food</h2>
          </div>
          <div class="row row-2">
            <h2>Luxury</h2>
          </div>
          <div class="row row-3">
            <h2>Loans</h2>
          </div>
          <div class="row row-4">
            <h2>Savings</h2>
          </div>
        </div>
        <div class="col-2">
          <img src="/images/undraw_personal_finance_tqcd.svg" alt="">
        </div>
        <div class="col-3">
          <h2>Expense Tracker</h2>
          <p>
            Look everywhere you can to cut alittle bit from your expenses. It will alladd up to a meaningful sum
          </p>
          <a href="/users">
            <button>get started</button>
          </a>
        </div>
      </div>
  </section>
  
</main>

<%- include partials/footer %>
